html, body{
	height: 100%;
  width: 100%;

}

.navbar-custom .icon-bar {
	background-color:#fff;
}

.navbar-custom {
	background-color: #181619;
  height: 75px;
    color:#fff;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 20px;
}

.navbar-custom li a{
	padding-top: 27px;
	height: 75px;
}

.navbar-custom li>a:hover,.navbar-custom li>a:focus {
	background-color:#49bfff;
	padding-top: 27px;
	height: 75px;
}

.navbar-custom a{
    color:#fefefe;
    line-height: 30px
}

.navbar-custom .form-control:focus {
	border-color: #49bfff;
	outline: 0;
	-webkit-box-shadow: inset 0 0 0;
	box-shadow: inset 0 0 0;
}

.page-scroll {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #1e699c;
}

.jumbotron {
	background-color:transparent !important;
	margin-top: 250px;
}

.container-full-bg {
	color: white;
	text-shadow: 5px 5px #181619;
	width:100%;
	height:100%;
	max-width:100%;
	background-position:center;
	background-size:cover;
	position:relative;
}

.row-content {
	padding: 100px;
}

#yourcity {
	background-color: #3eaaef;
	padding: 10px;
	width: 100%;
	text-align: center;
	color: #FFF;
}

#aboutTitle{
	background-color: #3eaaef;
	width: 100%;
	padding: 10px;
	text-align: center;
	color: #FFF;
}

#aboutUs{
	font-size: 1.2em;
}

button {
	background-color: #3eaaef;
	color: #FFF;
	font-size: 1.3em;
	padding: 14px 24px;
	border: 0 none;
	border-radius: 6px;
	letter-spacing: 1px;
}

form {
	margin-top: 30px;
}

/*------------------------Footer--------------------------*/

footer {
  width: 100%;
  background: #181619;
  padding: 1.5em;
  text-align: center;
}

footer p {
  color: white;
}
