
a {
  color: #00B7FF;
}

html,body{
  	height:100%;
}

body{
  	padding-top:50px; /*padding for navbar*/
}

.navbar-custom .icon-bar {
  background-color:#fff;
}

.navbar-custom {
  background-color: #181619;
  height: 75px;
    color:#fff;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 20px;
}

.navbar-custom li a{
  padding-top: 27px;
  height: 75px;
}

.navbar-custom li>a:hover,.navbar-custom li>a:focus {
  background-color:#49bfff;
  padding-top: 27px;
  height: 75px;
}

.navbar-custom a{
    color:#fefefe;
    line-height: 30px
}

.navbar-custom .form-control:focus {
  border-color: #49bfff;
  outline: 0;
  -webkit-box-shadow: inset 0 0 0;
  box-shadow: inset 0 0 0;
}

.down-red {
  color: #F72020;
}

.up-green {
  color: #00e600;
}

#main, #main>.row {
	height:100%;
  
}

#main>.row {
    overflow-y:scroll;
    width:50%
}

#left {
	height:100%;
}

::-webkit-scrollbar { 
    display: none; 
}

#map {
        height: 100%;
        width:66%;
        margin: 0;
        position: absolute;
        right: 16px;
        top:50px;
        bottom:0;
        
      }

